[git]
    autoCommit = true
    autoPush = false

encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt" 
    recipient = "age193n2m656vtreqf44f5c9sd2z4ee3z6qd26ce2k7uh5pxz6yuws7qr278r2"
